*{
    margin: 0;
    padding: 0;
}

nav {
  background-color: #a04f65;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

nav ul li {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

p a {
    text-decoration: none;
    color: #a04f65;
}

nav ul li:not(:nth-last-child(1)) {
    border-right: 1px solid white;
}

header {
    background-color: #a04f65;
    width: 100%;
    background-size: cover;
}

header img {
    border-radius: 50%;
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

section#text {
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

img {
    width: 100%;
}

main {
    display: flex;
    background-color: white;
    width: 100%;
}

section#texto {
    width: 50%;
    padding: 10px;
}

section#texto h1 {
    color: #a04f65;
}

section#imagens {
    width: 50%;
    padding: 10px;
}

section#imagens h1 {
    color: #a04f65;
}

.linha {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagem img {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
